*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: lightpink;
  justify-content: center;
}
header{
  text-align: center;
}
header h1{
  padding: 30px;
}
.score_box{
  width: 250px;
  margin: auto;
  border: 1px solid black;
}
.title, .score{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.title{
  border-bottom: 1px solid black;
}
.player, #comp_score, #user_score{
  width: 50%;
}
#comp_score, #user_score{
  padding-top: 5px;
}
.option_box, .match, .message_final{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.match{
  height: 70px;
}
.options{
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.option{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease;
}
.option:hover{
  cursor: pointer;
  background-color: #fff;
}
img{
  width: 100%;
  padding: 5px;
}
.curr_match_box{
  height: 200px;
  margin: auto;
  padding: 0 0.5rem;
  width: 50%;
  border: 1px solid black;
  display: flex;
}
.choice{
  width: 50%;
  height: 100%-1rem;
  margin: 1rem 0.5rem;
  text-align: center;
}
.choice img{
  width: 50%;
}
